@font-face {
  font-family: 'MinhaFonte';           /* Nome que você vai usar no CSS */
  src: url('../fonts/MinhaFonte.woff2') format('woff2'),
       url('../fonts/MinhaFonte.woff') format('woff'),
       url('../fonts/MinhaFonte.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;                  /* melhora performance */
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/qscience/assets/codes/webfonts/Inconsolata.ttf') format('woff2');
  font-weight: 200 900; /* Intervalo de pesos suportados */
  font-stretch: 50% 200%; /* Intervalo de larguras suportadas */
  font-style: normal;
  font-display: swap; /* Melhora a performance de carregamento */
}

/* Agora use a fonte em qualquer elemento 
body {
  font-family: 'MinhaFonte', sans-serif;
}

h1 {
  font-family: 'MinhaFonte', serif;
}*/