/*
Criado em: 29/06/2026
Autor: Jimi
Código: Utilitários para organização do site
Última atualização: 25/07/2026
Versão: 2.0
*/

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

@font-face {
  font-family: 'MinhaFonte';           /* Nome que você vai usar no CSS */
  src: url('/qscience/assets/codes/webfonts/cookie.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;                  /* melhora performance */
}

.letra-q {
  font-family: 'MinhaFonte', cursive;
  font-size: 1.4em;        /* ajuste o tamanho para harmonizar */
  color: var(--text-title); /* ou a cor que desejar */
}

/*paragráfo no <p>*/
.pgf {
    text-indent: 2em;
  }

.up-date {
    background: var(--color-primary);
    color: #fff;
    font-size: 0.6em;
    padding: 2px 8px;
    border-radius: 4px;
    border: 1.5px solid var(--border-light-b);
    font-family: Inconsolata, monospace;
    text-decoration: none;
    display: inline-flex;      /* para alinhar texto e ícone */
    align-items: center;
    gap: 0.5em;                /* espaço entre texto e ícone */
    transition: opacity 0.3s ease, background 0.2s;
}

.up-date:hover {
    opacity: 0.85;
    color: #fff;
}

/* Ícone dentro do botão */
.up-date i {
    font-size: 0.9em;
}